<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" th:href="@{/css/errorStyle.css}" href="../static/css/errorStyle.css">

    <link rel="icon" type="image/png"  th:href="@{/images/favicon.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
    <title th:text="#{error}">Error</title>
</head>
<body>
<div class="topnav">
    <div class="topnav-links">
        <a th:href="@{/main}" href="#" th:text="#{main}">Main</a>
        <a th:href="@{/books}" href="#" th:text="#{books}">Books</a>
        <a th:href="@{/authors}" href="#" th:text="#{authors}">Authors</a>
        <a th:href="@{/genres}" href="#" th:text="#{genres}">Genres</a>
    </div>
    <div class="topnav-auth">
         <span sec:authorize="isAuthenticated()"
               class="username-display"
               sec:authentication="name">
            Username
        </span>
        <a sec:authorize="!isAuthenticated()"
           href="/login" th:href="@{/login}"
           class="auth-link login-link"
           th:text="#{login}">Login</a>

        <form sec:authorize="isAuthenticated()"
              th:action="@{/logout}"
              method="post"
              style="display: inline;" class="logout-form">
            <button type="submit" class="auth-link logout-btn"
                    style="background: #dc3545 !important;"
                    th:text="#{logout}">Logout</button>
        </form>
    </div>
    <div class="topnav-lang">
        <a th:href="@{/error(lang=en)}" class="lang-link" title="English">
            <span class="fi fi-gb"></span>
        </a>
        <a th:href="@{/error(lang=ru)}" class="lang-link" title="Русский">
            <span class="fi fi-ru"></span>
        </a>
    </div>
</div>

<div class="error-wrapper">
    <div class="error-container">
        <div class="error-icon">⚠️</div>
        <h1 class="error-title" th:text="#{error}">Error:</h1>
        <div class="error-message" th:text="${errorText}">
            An unexpected error occurred. Please try later.
        </div>
        <a th:href="@{/books}" class="back-button" th:text="#{to-books}">← Back to books</a>
    </div>
</div>

</body>
</html>