<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" th:href="@{/css/info.css}" href="../static/css/info.css">

    <link rel="icon" type="image/png"  th:href="@{/images/favicon.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />

    <title>All authors</title>
</head>
<body>
<div class="full-page-bg">

    <div class="topnav">
        <div class="topnav-links">
            <a th:href="@{/books}" href="#" th:text="#{books}">Books</a>
            <a th:href="@{/authors}" href="#" th:text="#{authors}">Authors</a>
            <a th:href="@{/genres}" href="#" th:text="#{genres}">Genres</a>
        </div>
        <div class="topnav-lang">
            <a th:href="@{/authors(lang=en)}" class="lang-link" title="English">
                <span class="fi fi-gb"></span>
            </a>
            <a th:href="@{/authors(lang=ru)}" class="lang-link" title="Русский">
                <span class="fi fi-ru"></span>
            </a>
        </div>
    </div>

    <div class="authors-container">
        <table class="authors">
            <caption th:text="#{authors-list}">Authors</caption>
            <thead>
            <tr>
                <th th:text="#{id}">ID</th>
                <th th:text="#{author-name}">Name</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

            <script>
                function loadAuthors() {
                    fetch("/api/authors")
                        .then(response => response.json())
                        .then(authors => {
                            const tbody = document.querySelector('tbody');
                            tbody.innerHTML = '';
                            authors.forEach(author => {
                                tbody.innerHTML += `
                                    <tr>
                                        <td>${author.id}</td>
                                        <td>${author.fullName}</td>
                                    </tr>
                                `;
                            });
                        })
                }
                document.addEventListener("DOMContentLoaded", loadAuthors);
            </script>
        </table>
    </div>
</div>
</body>
</html>